.formbutton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 81px;
}
.formbutton__container > button {
  width: 316px;
  height: 40px;
  background: #c2478a;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
