.container {
  background: linear-gradient(180deg, #c2478a 0%, #2f2564 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: 49% 2% 49%;
  align-items: center;
}
.miniCont {
  display: flex;
  justify-content: center;
}
.image {
  width: 415px;
}

.formContainer {
  display: flex;
  width: 496px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Fheading__container {
  display: flex;
  padding-bottom: 58px;
  justify-content: end;
}
.Fheading {
  font-weight: 700;
  padding-right: 25px;
  font-size: 64px;
  color: #f5f5f5;
  text-align: center;
}
.Sheading {
  width: 439px;
  padding-bottom: 29px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #fd939f;
}
.Theading {
  width: 441px;
  height: 17px;
  padding-bottom: 29.5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #fd939f;
}
.divider {
  border-left: 2px solid #d9d9d9;
  height: 571px;
}
.formbutton__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 81px;
}
.formbutton__container > button {
  width: 316px;
  height: 40px;
  background: #c2478a;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.changeCred {
  width: 425px;
  display: flex;
  justify-content: space-between;
}
.change__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #fd939f;
  text-decoration: underline;
}

.tc {
  /* By continuing you aceept our Privacy Policy & Terms of use */

  width: 232px;
  height: 38px;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.otp__timer {
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.otp__timer > div {
  width: 177px;
  height: 19px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fbbece;
}
.resetButton {
  width: 53px;
  height: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  color: #fd939f;
  cursor: pointer;
}
.digitGroup {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.digitinput {
  outline: 0 !important;
  user-select: none !important;
  background-color: #ffffff00;
  border: none;
  line-height: 50px;
  color: #fd939f;
  text-align: center;
  font-size: 24px;
  margin: 0;

  box-sizing: border-box;

  width: 60px;
  height: 57px;

  border: 1px solid #c2478a;
  border-radius: 10px;
}
