.container {
  background: linear-gradient(360deg, #b44486 27.4%, #352666 100%);
  width: 82vw;
  height: 100vh;
}
.mainContainer {
  padding-left: 2.8%;
  padding-right: 2.8%;
  overflow-y: scroll;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
}
.headerLeft {
  font-size: 30px;
  font-weight: 700;
  color: #fbbece;
}
.headerRight {
  display: flex;
  justify-content: space-evenly;
}
