.mainContainer {
  width: 85vw;

  background: #ffffff;
  display: flex;
  padding-top: 25px;
  padding-left: 8px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.DashHead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: #000000;
}
.DashDesc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #818183;
}
.DashDesc span {
  font-weight: 700;
}
.btn,
.btn_active {
  box-sizing: border-box;
  height: 34px;
  /* width: 100px; */
  background: #ffffff;
  border: 1px solid #818183;

  font-weight: 500;
  font-size: 10px;
  color: #818183;
  line-height: 12px;
  letter-spacing: 0.03em;
}
.buttonContainer :first-child {
  border-radius: 10px 0px 0px 10px;
}
.buttonContainer :last-child {
  border-radius: 0px 10px 10px 0px;
}
.btn_active {
  color: #fff;
  background: #c2478a;
}

.buttonContainer > button:hover {
  box-sizing: border-box;
  color: #818183;
  height: 34px;
  color: #ffffff;
  background: #c2478a;
  border: 1px solid #c2478a;

  color: #ffffff;
}
.downloadButton {
  width: 163.51px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: #ffffff;

  background: #c2478a;
  border-radius: 30px;
  border: none;
}
.btnscontainer {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.profileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 45px;
}
.dateContainer {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  position: absolute;
  z-index: 999;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drbtn {
  width: 316px;
  height: 40px;
  background: #c2478a;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.Scont {
  display: flex;
  width: 100%;
}
