progress {
  border-radius: 7px;
  width: 19vw;
  height: 22px;
}
progress::-webkit-progress-bar {
  background: rgba(115, 136, 169, 0.353283);

  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: #c2478a;
  border-radius: 7px;
}

.firstprogress::-webkit-progress-bar {
  background-color: #2f2564;

  border-radius: 7px;
}
.firstprogress::-webkit-progress-value {
  background-color: #2f2564;
  border-radius: 7px;
}
.firstprogress,
.secondprogress {
  width: 23vw;
}

.secondprogress {
  transform: rotate(-180deg);
}

.secondprogress::-webkit-progress-value {
  background-color: #c2478a;
  border-radius: 7px;
}
